h1{
  font-size: 50px;
  text-align: center;
  color: #000000
}

img{
  margin: auto;
}

ul{
  list-style: none;
  line-height: 250%;
  font-weight: bold;
  font-size: 20px;
  display: table;
  margin: auto;
  padding-left: 0px;
}
.bot_line{
  border-bottom: double;
  padding-bottom: 15px;
  border-width: thick;
  border-color: #008080
}

.grid{
  border: 5px solid #008080;
  display: grid;
  grid-template-areas:
                "bro bro bro bro"
                "gu rank name da"
}

bro{
  grid-area: bro;
  background-color: brown;
  padding-bottom: 20px;
}

rank{
  grid-area: rank;
}

name{
  grid-area: name;
}

gu{
  grid-area: gu;
}

da{
  grid-area: da;
}

.bkimg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#left{
  margin: initial;
  float: left;
}
