@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

head{
    font-family: 'Noto Sans KR';
}

body{
    font-family: 'Noto Sans KR';
}

h1{
  font-size: 50px;
  text-align: center;
}

img{
  margin: auto;
}

ul{
  list-style: none;
  line-height: 250%;
  font-size: 20px;
  display: table;
  margin: auto;
  padding-left: 0px;
}

.grid{
  border: 5px solid #493323;
  display: grid;
  border-left: 0px;
  border-right: 0px;
  grid-template-areas:
                "bro bro bro bro"
                "gu rank name da"
}

.mid{
  margin: auto;
}
bro{
  grid-area: bro;
  background-color: #91684a;
  padding-bottom: 40px;
}
rank{
  grid-area: rank;
  margin: auto;
}
name{
  grid-area: name;
  margin: auto;
}
gu{
  grid-area: gu;
  margin: auto;
}
da{
  grid-area: da;
  margin: auto;
}

#main{
  grid-template-areas:
              "blank blank"
              "list contents"
}

blank{
  grid-area: blank;
  padding-bottom: 10px;
  background-color: #91684a;
}
list{
  grid-area: list;
}
contents{
  grid-area: contents;
}
